<div class="container">
  <div class="app">
    <app-search-detail [pokemonDetail]="pokemonDataDetail"></app-search-detail>

    <app-search
      (dataSearchTerm)="receiveSearchTerm($event)"
      (dataPokemonEvent)="receivePokemonData($event)"
      (dataDetailPokemonEvent)="receivePokemonDetailData($event)"
    ></app-search>

    <div *ngIf="searchTerm.length < 1">
      <app-search-list [pokemonArray]="pokemonDataArray"></app-search-list>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
