@import "~normalize.css";

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.app {
  max-width: 800px;
  width: 100%;
  min-width: 300px;
  padding: 2rem;
  overflow: auto;
  box-sizing: border-box;
}
