@import "~normalize.css";

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  max-width: 800px;
  min-width: 400px;
  border: 1px solid red;
  padding: 2rem;
}
