@import "~normalize.css";

.searchApp {
  margin-bottom: 20px;
}

.success {
  background: greenyellow;
  padding: 1rem;
}

.error {
  background: red;
  text-align: center;
  color: white;
  padding: 1rem;
}

.searchform {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1rem;

  &.errorForm {
    border: 3px solid red;
  }
  @media screen and (min-width: 600px) {
    flex-direction: row;
  }

  & > input,
  & > button {
    @media screen and (min-width: 600px) {
      flex: 1 0 0;
      padding: 1rem;
    }
  }

  & > input {
    font-size: 200%;
  }

  & > button {
    @media screen and (min-width: 600px) {
      margin-left: 10px;
      max-width: 200px;
    }
  }
}
